

.cuadradoDiv,
.trianguloDiv,
.circuloDiv {
  width: 1000px;
  height: 250px;
  background-color: rgb(160, 221, 213);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(2, 8, 8);
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  
}

h1 {
  font-size: 48px;
  padding-left: 320px;
}

#explain {
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #008cba;
  color: white;
  font-size: 14px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 15px;
  font-size: 14px;
}

#InputCuadrado {
  width: 100px;
  height: 20px;
}

#InputCuadradoSalida {
  padding: 1px;
  margin-left: 14px;
  width: 200px;
  height: 20px;
}

.trianguloDiv #InputTrianguloSalida {
  width: 250px;
  height: 20px;
}
#triangulo > input {
  width: 80px;
  height: 20px;
  padding: 1px;
  margin-left: 14px;
}

#circulo > input {
  width: 280px;
  height: 20px;
  padding: 1px;
  margin-left: 14px;
}

.imagen{
    width:60%;
    height: 100%;
    object-position: 100px 0;
    margin-left: 90px;
}